<div class="sidebar">
  <input type="search" placeholder="search channel" />
  <h4>All Channels</h4>
  <p>
    <input type="text" class="control" [(ngModel)]="addchannel" placeholder="add channel">
    <button type="button" (click)="channels()" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-plus-sign"></span>
    </button>
  </p>
  <ul *ngFor="let channel of channelarray">
      <li>{{channel}}
  </ul>
</div>
<div class="header">
  <span id="phone" class="fa fa-phone"></span>
  <i class="material-icons"></i>

</div>
<div class="main">
  <ul *ngFor="let message of messagelist">
    <li>{{message}}</li>
  </ul>
  <input type="text" class="message" [(ngModel)]="messagetext" placeholder="Enter the message" name="Masseage">
  <button type="button" class="fa fa-telegram" (click)="sendmessage()"></button>
</div>
