.sidebar{
    width: 20%;
    height: 100%;
    left: 0%;
    top: 0%;
    position: absolute;
    color: white;
    background-color: #4A394B;
    overflow: auto;
}

.header{
    width:80%;
    height: 10%;
    left: 20%;
    top: 0%;
    overflow: auto;
    position: absolute;
}

.main{
    width:80%;
    height: 80%;
    left: 20%;
    top: 10%;
    position: absolute;
    background-color: wheat;
    overflow: auto;
}

input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    color: black;
    background-color: antiquewhite;
}

p{
    font-size: 20px;
    color: white;
}

button{
    margin-left: 50%;
}

#search{
    width: 100px;
}

.form-control{
    width: 200px;
    margin-left: 65%;
    margin-top: -30px;
}

.fa-phone{
    font-size: 25px;
    margin-left: 600px;
    margin-top: 2%;
}


.message{
    width: 90%;
    margin-left: 1%;
}

.inputtext{
    width: 200px;
    margin-left: 65%;
    margin-top: -30px;
}
h4{
    margin-top: 30%;
}

.control{
    width: 85%;
}



.fa-paper-plane-o{
    font-size: 25px;
    margin-left: 10px;
    margin-top: 20px;
    width: 30px;
    height: 30px;
}

.fa-bell{
    color: white;
    height: 30px;
    width: 30px;
}

.footer{
    width: 80%;
    height: 10%;
    left: 20%;
    top: 90%;
    background-color: rosybrown;;
    position: absolute;
}

.search{
    width: 20%;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
}

.glyphicon-exclamation-sign{
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}

.glyphicon-cog{
    margin-left: 20px;
    font-size: 20px;
}

.glyphicon-star-empty{
    margin-left: 20px;
    font-size: 20px;
}

.glyphicon-option-vertical{
    margin-left: 20px;
    font-size: 20px;
}

.glyphicon-bell{
    margin-left: 50%;
    margin-top: 5px;
    font-size: 20px;
}

.searchannel {
    width: 85%;
    height: 30px;
}

.fa-search{
    font-size: 25px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

button{
    font-size: 15px;
    margin-left: 0px;
    color: black;
}
.receiver{
 
    background-color: lightcoral;
    float: left; 
    overflow: hidden;
    width: 50%;
    padding: 10px;
  }
  .sender{
    background-color:lightgreen;
    float:right;
    width:50%;
    overflow: hidden;
    padding: 10px;
  }
  #username{
    color: antiquewhite;
    margin-left: 10px;
  }